<div class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <h1 class="mt-4">Dashboard</h1>
      <div class="card p-3">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-auto">
                <img
                  class="border border-white"
                  id="profile-picture"
                  width="120px"
                  height="120px"
                  style="object-fit: cover;"
                  src="<%- include('./partials/defaultPicture') %>"
                  alt="Foto Profile"
                  srcset=""
                />
                <form
                  action="/dashboard"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <input
                    type="file"
                    name="profilePicture"
                    id="uploadProfilePicture"
                    hidden
                  />
                </form>
              </div>
              <div class="col-md-8">
                <p class="lead mb-3">
                  <strong>Name : <%= user.name %></strong>
                </p>
                <%- include('partials/messages') %>
              </div>
            </div>
          </div>
          <div class="col-md col-auto">
            <a href="/users/logout" class="btn btn-secondary float-md-right">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2 justify-content-start">
    <div class="col-md-6">
      <div class="card mb-3">
        <h3 class="card-header">Chat Rooms</h3>
        <div class="card-body">
          <form action="chat">
            <div class="form-group">
              <label for="exampleSelect1"><h6>Email</h6></label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                value="<%= user.email %>"
                readonly
              />
            </div>
            <div class="form-group">
              <label for="exampleSelect1"><h6>Choose Room</h6></label>
              <select class="form-control" name="room" id="exampleSelect1">
                <option value="javascript">Javascript</option>
                <option value="php">PHP</option>
                <option value="python">Python</option>
                <option value="r">R</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary float-right">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <h3 class="card-header">Online Users</h3>
        <div class="card-body" style="overflow-y: auto; height: 257px;">
          <div class="onlineUsers row justify-content-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Profile -->
<div class="modal-dialog modal-dialog-scrollable">
  <div
    class="modal fade"
    id="modalProfile"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush user-profile">
            <!-- Data User -->
          </ul>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn-close-profile btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            data-toggle="modal"
            data-target="#modal-chat"
            class="btn-chat-user btn btn-primary"
          >
            Chat
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Chat -->
<div class="modal-dialog modal-dialog-scrollable">
  <div
    class="modal fade"
    id="modal-chat"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      kirim
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chat</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="chat-form">
          <div class="chat-messages" style="height: 250px;"></div>
          <div class="modal-footer">
            <input
              id="msg"
              class="form-control mx-auto col-md-8"
              type="text"
              placeholder="Enter Message"
              required
              autocomplete="off"
            />
            <button class="btn-chat col-md-3" id="">
              <i class="fas fa-paper-plane"></i> Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();

  const btnChat = document.querySelector(".btn-chat-user");
  const btnCloseProfile = document.querySelector(".btn-close-profile");

  // Close modal profile if user click btn Chat
  btnChat.addEventListener("click", (e) => {
    btnCloseProfile.click();
  });

  // Send data
  socket.emit("userLogin", {
    userId: `<%= user.id %>`,
    name: `<%= user.name %>`,
    room: `dashboard`,
  });

  // get data users online
  socket.on("onlineUsers", ({ users }) => {
    const userLogin = users.filter((data) => data.userId == `<%= user.id %>`);
    const listUsers = users.filter((data) => data.userId != `<%= user.id %>`);

    getOnlineUsers(listUsers);

    const elOnlineUsers = document.querySelectorAll(".modalProfile");

    elOnlineUsers.forEach((cardUserOnline) => {
      cardUserOnline.addEventListener("click", (e) => {
        const userTargetId = cardUserOnline.firstChild.nextSibling.innerText;

        const dataUserTarget = listUsers.filter(
          (data) => data.userId === userTargetId
        );

        modalUserProfile(dataUserTarget[0]);

        socket.emit("privateMessage", {
          userTarget: dataUserTarget[0],
          me: userLogin[0],
        });

        const btnSendChat = document.querySelector("#chat-form");

        const chatMessage = document.querySelector(".chat-messages");

        btnSendChat.addEventListener("submit", (e) => {
          e.preventDefault();
          const msg = e.target.elements.msg.value;

          socket.emit("chatMessage", msg);

          outputMessage({ name: userLogin[0].name, text: msg });

          e.target.elements.msg.value = "";

          e.target.elements.msg.focus();
        });
      });
    });
  });

  socket.on("bubbleChat", (message) => {
    outputMessage(message);
  });

  function outputMessage(message) {
    const chatMessage = document.querySelector(".chat-messages");

    // Membaat elemen div
    const div = document.createElement("div");

    // Menambahkan class message
    div.classList.add("message");

    // Bubble pada room chat
    div.innerHTML = `
    <p class="meta">${message.name}<span>20:31 pm</span></p>
    <p class="text">
        ${message.text}
        </p>
        `;

    // Menambahkan bubble chat
    document.querySelector(".chat-messages").appendChild(div);
    chatMessage.scrollTop = chatMessage.scrollHeight;
  }

  // Show online users
  function getOnlineUsers(users) {
    const listUsers = users
      .map((user) => {
        return `
          <div class="card-chat modalProfile" data-toggle="modal" data-target="#modalProfile">
            <span id="userTarget" hidden>${user.userId}</span>
            <h5>
              ${user.name}
              <span class="personelMessage">1</span>
            </h5>
          </div>
      `;
      })
      .join("");

    document.querySelector(".onlineUsers").innerHTML = listUsers;
  }

  const profilePicture = document.getElementById("profile-picture");
  profilePicture.style.cursor = "pointer";

  const uploadProfilePicture = document.getElementById("uploadProfilePicture");

  profilePicture.addEventListener("click", (e) => {
    uploadProfilePicture.click();
  });

  uploadProfilePicture.addEventListener("change", function (e) {
    this.form.submit();
  });

  const ulUserProfile = document.querySelector(".user-profile");

  function modalUserProfile(user) {
    const profileUsers = `<li class="list-group-item">Name : ${user.name}</li>`;

    ulUserProfile.innerHTML = profileUsers;
  }

  // function dataUserTarget(){

  // }
</script>
